__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/

generated/
*.mp3
*.wav

server.pid
server.out.log
server.err.log
*.log
0.9.4

.git/
.gitignore
_pip_arm_check/
_docker_dep_check/

Dockerfile
docker-compose.yml
DOCKER.md
